@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>Our Online Shop</h1>
    <p class="lead">Browse through our diverse collection of items of the highest quality.</p>
</div>

